<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>apricot</string>
    <string>absolute</string>
    <string>abstract</string>
    <string>avant-garde</string>
    <string>academic</string>
    <string>active</string>
    <string>alpine</string>
    <string>astral</string>
    <string>base</string>
    <string>velvet</string>
    <string>belgium</string>
    <string>bermuda</string>
    <string>complacent</string>
    <string>prosperous</string>
    <string>quick</string>
    <string>thoughtful</string>
    <string>plausible</string>
    <string>fun</string>
    <string>spring</string>
    <string>strong-willed</string>
    <string>well-mannered</string>
    <string>galactic</string>
    <string>proud</string>
    <string>competent</string>
    <string>business</string>
    <string>active</string>
    <string>precious</string>
    <string>elysian</string>
    <string>yellow</string>
    <string>pearl</string>
    <string>tan</string>
    <string>wonderful</string>
    <string>intricate</string>
    <string>sharp</string>
    <string>elect</string>
    <string>elegant</string>
    <string>refined</string>
    <string>quantum</string>
    <string>cool</string>
    <string>crouching</string>
    <string>malachite</string>
    <string>honey</string>
    <string>mighty</string>
    <string>nuclear</string>
</array>
</plist>
