<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>chinchilla</string>
	<string>chupacabra</string>
	<string>duck</string>
	<string>frog</string>
	<string>hyena</string>
	<string>iguana</string>
	<string>koala</string>
	<string>llama</string>
	<string>mink</string>
	<string>otter</string>
	<string>panda</string>
	<string>pumpkin</string>
	<string>shrew</string>
	<string>squirrel</string>
	<string>turtle</string>
	<string>wolverine</string>
</array>
</plist>
