<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirebaseAppID</key>
	<integer>1064581926</integer>
	<key>Amplitude</key>
	<string>770ef095f0926efff9b26dfca8d31905</string>
	<key>AppMetrica</key>
	<string>fd479031-bdf4-419e-8d8f-6895aab23502</string>
</dict>
</plist>
