<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>python</key>
	<array>
        <string>False</string>
        <string>class</string>
        <string>finally</string>
        <string>is</string>
        <string>return</string>
        <string>None</string>
        <string>continue</string>
        <string>for</string>
        <string>lambda</string>
        <string>try</string>
        <string>True</string>
        <string>def</string>
        <string>from</string>
        <string>nonlocal</string>
        <string>while</string>
        <string>and</string>
        <string>del</string>
        <string>global</string>
        <string>not</string>
        <string>with</string>
        <string>as</string>
        <string>elif</string>
        <string>if</string>
        <string>or</string>
        <string>yield</string>
        <string>assert</string>
        <string>else</string>
        <string>import</string>
        <string>pass</string>
        <string>print</string>
        <string>break</string>
        <string>except</string>
        <string>in</string>
        <string>raise</string>
    </array>
	<key>cpp</key>
	<array>
		<string>bool</string>
		<string>break</string>
		<string>case</string>
		<string>catch</string>
		<string>char</string>
		<string>class</string>
		<string>const</string>
		<string>cout</string>
		<string>cin</string>
		<string>endl</string>
		<string>include</string>
		<string>iostream</string>
		<string>continue</string>
		<string>default</string>
		<string>delete</string>
		<string>do</string>
		<string>double</string>
		<string>else</string>
		<string>enum</string>
		<string>extern</string>
		<string>false</string>
		<string>float</string>
		<string>for</string>
		<string>friend</string>
		<string>goto</string>
		<string>if</string>
		<string>inline</string>
		<string>int</string>
		<string>long</string>
		<string>mutable</string>
		<string>namespace</string>
		<string>new</string>
		<string>operator</string>
		<string>private</string>
		<string>protected</string>
		<string>public</string>
		<string>return</string>
		<string>short</string>
		<string>signed</string>
		<string>sizeof</string>
		<string>static</string>
		<string>string</string>
		<string>struct</string>
		<string>switch</string>
		<string>template</string>
		<string>this</string>
		<string>throw</string>
		<string>true</string>
		<string>try</string>
		<string>typedef</string>
		<string>typename</string>
		<string>union</string>
		<string>unsigned</string>
		<string>using</string>
		<string>virtual</string>
		<string>void</string>
		<string>while</string>
	</array>
	<key>haskell</key>
	<array>
		<string>case</string>
		<string>class</string>
		<string>data</string>
		<string>default</string>
		<string>deriving</string>
		<string>do</string>
		<string>else</string>
		<string>forall</string>
		<string>if</string>
		<string>import</string>
		<string>in</string>
		<string>infix</string>
		<string>infixl</string>
		<string>infixr</string>
		<string>instance</string>
		<string>let</string>
		<string>module</string>
		<string>newtype</string>
		<string>of</string>
		<string>qualified</string>
		<string>then</string>
		<string>type</string>
		<string>where</string>
		<string>_</string>
		<string>foreign</string>
		<string>ccall</string>
		<string>as</string>
		<string>safe</string>
		<string>unsafe</string>
	</array>
	<key>cs</key>
	<array>
		<string>abstract</string>
		<string>base</string>
		<string>bool</string>
		<string>break</string>
		<string>byte</string>
		<string>case</string>
		<string>catch</string>
		<string>char</string>
		<string>checked</string>
		<string>class</string>
		<string>const</string>
		<string>continue</string>
		<string>decimal</string>
		<string>default</string>
		<string>delegate</string>
		<string>do</string>
		<string>double</string>
		<string>else</string>
		<string>enum</string>
		<string>event</string>
		<string>explicit</string>
		<string>extern</string>
		<string>false</string>
		<string>finally</string>
		<string>fixed</string>
		<string>float</string>
		<string>for</string>
		<string>foreach</string>
		<string>goto</string>
		<string>if</string>
		<string>implicit</string>
		<string>int</string>
		<string>interface</string>
		<string>internal</string>
		<string>lock</string>
		<string>long</string>
		<string>namespace</string>
		<string>new</string>
		<string>null</string>
		<string>object</string>
		<string>operator</string>
		<string>out</string>
		<string>override</string>
		<string>params</string>
		<string>private</string>
		<string>protected</string>
		<string>public</string>
		<string>readonly</string>
		<string>ref</string>
		<string>return</string>
		<string>sbyte</string>
		<string>sealed</string>
		<string>short</string>
		<string>sizeof</string>
		<string>stackalloc</string>
		<string>static</string>
		<string>string</string>
		<string>struct</string>
		<string>switch</string>
		<string>this</string>
		<string>throw</string>
		<string>true</string>
		<string>try</string>
		<string>typeof</string>
		<string>uint</string>
		<string>ulong</string>
		<string>unchecked</string>
		<string>unsafe</string>
		<string>ushort</string>
		<string>using</string>
		<string>virtual</string>
		<string>void</string>
		<string>volatile</string>
		<string>while</string>
		<string>set</string>
		<string>get</string>
		<string>var</string>
	</array>
	<key>java</key>
	<array>
		<string>abstract</string>
		<string>assert</string>
		<string>boolean</string>
		<string>break</string>
		<string>byte</string>
		<string>case</string>
		<string>catch</string>
		<string>char</string>
		<string>class</string>
		<string>const</string>
		<string>continue</string>
		<string>default</string>
		<string>do</string>
		<string>double</string>
		<string>else</string>
		<string>enum</string>
		<string>extends</string>
		<string>final</string>
		<string>finally</string>
		<string>float</string>
		<string>for</string>
		<string>goto</string>
		<string>if</string>
		<string>implements</string>
		<string>import</string>
		<string>instanceof</string>
		<string>int</string>
		<string>interface</string>
		<string>long</string>
		<string>native</string>
		<string>new</string>
		<string>package</string>
		<string>private</string>
		<string>protected</string>
		<string>public</string>
		<string>return</string>
		<string>short</string>
		<string>static</string>
		<string>super</string>
		<string>switch</string>
		<string>synchronized</string>
		<string>this</string>
		<string>throw</string>
		<string>throws</string>
		<string>try</string>
		<string>void</string>
		<string>volatile</string>
		<string>while</string>
		<string>false</string>
		<string>null</string>
		<string>true</string>
		<string>System</string>
		<string>out</string>
		<string>print</string>
		<string>println</string>
		<string>main</string>
		<string>String</string>
		<string>Math</string>
		<string>Scanner</string>
		<string>Thread</string>
		<string>ArrayList</string>
		<string>LinkedList</string>
		<string>HashMap</string>
		<string>HashSet</string>
		<string>Collections</string>
		<string>Iterator</string>
		<string>File</string>
		<string>Formatter</string>
		<string>Exception</string>
	</array>
	<key>ruby</key>
	<array>
		<string>and</string>
		<string>begin</string>
		<string>break</string>
		<string>case</string>
		<string>class</string>
		<string>def</string>
		<string>do</string>
		<string>else</string>
		<string>elsif</string>
		<string>each</string>
		<string>end</string>
		<string>true</string>
		<string>false</string>
		<string>for</string>
		<string>if</string>
		<string>in</string>
		<string>module</string>
		<string>next</string>
		<string>nil</string>
		<string>not</string>
		<string>or</string>
		<string>rescue</string>
		<string>retry</string>
		<string>return</string>
		<string>self</string>
		<string>super</string>
		<string>then</string>
		<string>undef</string>
		<string>unless</string>
		<string>until</string>
		<string>when</string>
		<string>while</string>
		<string>yield</string>
		<string>attr_accessor</string>
		<string>attr_reader</string>
		<string>attr_writer</string>
		<string>initialize</string>
		<string>new</string>
		<string>puts</string>
		<string>gets</string>
		<string>print</string>
		<string>Struct</string>
		<string>Math</string>
		<string>Time</string>
		<string>Proc</string>
		<string>File</string>
		<string>lambda</string>
		<string>Comparable</string>
		<string>Enumerable</string>
	</array>
	<key>sql</key>
	<array>
		<string>ADD</string>
		<string>ALL</string>
		<string>ALTER</string>
		<string>AND</string>
		<string>ANY</string>
		<string>APPLY</string>
		<string>AS</string>
		<string>ASC</string>
		<string>AUTHORIZATION</string>
		<string>BACKUP</string>
		<string>BEGIN</string>
		<string>BETWEEN</string>
		<string>BREAK</string>
		<string>BROWSE</string>
		<string>BULK</string>
		<string>BY</string>
		<string>CASCADE</string>
		<string>CASE</string>
		<string>CHECK</string>
		<string>CHECKPOINT</string>
		<string>CLOSE</string>
		<string>CLUSTERED</string>
		<string>COALESCE</string>
		<string>COLLATE</string>
		<string>COLUMN</string>
		<string>COMMIT</string>
		<string>COMPUTE</string>
		<string>CONNECT</string>
		<string>CONSTRAINT</string>
		<string>CONTAINS</string>
		<string>CONTAINSTABLE</string>
		<string>CONTINUE</string>
		<string>CONVERT</string>
		<string>CREATE</string>
		<string>CROSS</string>
		<string>CURRENT</string>
		<string>CURRENT_DATE</string>
		<string>CURRENT_TIME</string>
		<string>CURRENT_TIMESTAMP</string>
		<string>CURRENT_USER</string>
		<string>CURSOR</string>
		<string>DATABASE</string>
		<string>DBCC</string>
		<string>DEALLOCATE</string>
		<string>DECLARE</string>
		<string>DEFAULT</string>
		<string>DELETE</string>
		<string>DENY</string>
		<string>DESC</string>
		<string>DISK</string>
		<string>DISTINCT</string>
		<string>DISTRIBUTED</string>
		<string>DOUBLE</string>
		<string>DROP</string>
		<string>DUMMY</string>
		<string>DUMP</string>
		<string>ELSE</string>
		<string>END</string>
		<string>ERRLVL</string>
		<string>ESCAPE</string>
		<string>EXCEPT</string>
		<string>EXEC</string>
		<string>EXECUTE</string>
		<string>EXISTS</string>
		<string>EXIT</string>
		<string>FETCH</string>
		<string>FILE</string>
		<string>FILLFACTOR</string>
		<string>FOLLOWING</string>
		<string>FOR</string>
		<string>FOREIGN</string>
		<string>FREETEXT</string>
		<string>FREETEXTTABLE</string>
		<string>FROM</string>
		<string>FULL</string>
		<string>FUNCTION</string>
		<string>GOTO</string>
		<string>GRANT</string>
		<string>GROUP</string>
		<string>HAVING</string>
		<string>HOLDLOCK</string>
		<string>IDENTITY</string>
		<string>IDENTITYCOL</string>
		<string>IDENTITY_INSERT</string>
		<string>IF</string>
		<string>IN</string>
		<string>INDEX</string>
		<string>INNER</string>
		<string>INSERT</string>
		<string>INTERSECT</string>
		<string>INTO</string>
		<string>IS</string>
		<string>JOIN</string>
		<string>KEY</string>
		<string>KILL</string>
		<string>LEFT</string>
		<string>LIKE</string>
		<string>LINENO</string>
		<string>LOAD</string>
		<string>MATCH</string>
		<string>MERGE</string>
		<string>NATIONAL</string>
		<string>NOCHECK</string>
		<string>NONCLUSTERED</string>
		<string>NOT</string>
		<string>NULL</string>
		<string>NULLIF</string>
		<string>OF</string>
		<string>OFF</string>
		<string>OFFSETS</string>
		<string>ON</string>
		<string>OPEN</string>
		<string>OPENDATASOURCE</string>
		<string>OPENQUERY</string>
		<string>OPENROWSET</string>
		<string>OPENXML</string>
		<string>OPTION</string>
		<string>OR</string>
		<string>ORDER</string>
		<string>OUTER</string>
		<string>OVER</string>
		<string>PERCENT</string>
		<string>PLAN</string>
		<string>PRECEDING</string>
		<string>PRECISION</string>
		<string>PRIMARY</string>
		<string>PRINT</string>
		<string>PROC</string>
		<string>PROCEDURE</string>
		<string>PUBLIC</string>
		<string>RAISERROR</string>
		<string>READ</string>
		<string>READTEXT</string>
		<string>RECONFIGURE</string>
		<string>REFERENCES</string>
		<string>REPLICATION</string>
		<string>RESTORE</string>
		<string>RESTRICT</string>
		<string>RETURN</string>
		<string>REVOKE</string>
		<string>RIGHT</string>
		<string>ROLLBACK</string>
		<string>ROWCOUNT</string>
		<string>ROWGUIDCOL</string>
		<string>ROWS?</string>
		<string>RULE</string>
		<string>SAVE</string>
		<string>SCHEMA</string>
		<string>SELECT</string>
		<string>SESSION_USER</string>
		<string>SET</string>
		<string>SETUSER</string>
		<string>SHUTDOWN</string>
		<string>SOME</string>
		<string>STATISTICS</string>
		<string>SYSTEM_USER</string>
		<string>TABLE</string>
		<string>TEXTSIZE</string>
		<string>THEN</string>
		<string>TO</string>
		<string>TOP</string>
		<string>TRAN</string>
		<string>TRANSACTION</string>
		<string>TRIGGER</string>
		<string>TRUNCATE</string>
		<string>TSEQUAL</string>
		<string>UNBOUNDED</string>
		<string>UNION</string>
		<string>UNIQUE</string>
		<string>UPDATE</string>
		<string>UPDATETEXT</string>
		<string>USE</string>
		<string>USER</string>
		<string>USING</string>
		<string>VALUES</string>
		<string>VARYING</string>
		<string>VIEW</string>
		<string>WAITFOR</string>
		<string>WHEN</string>
		<string>WHERE</string>
		<string>WHILE</string>
		<string>WITH</string>
		<string>WRITETEXT</string>
		<string>add</string>
		<string>all</string>
		<string>alter</string>
		<string>and</string>
		<string>any</string>
		<string>apply</string>
		<string>as</string>
		<string>asc</string>
		<string>authorization</string>
		<string>backup</string>
		<string>begin</string>
		<string>between</string>
		<string>break</string>
		<string>browse</string>
		<string>bulk</string>
		<string>by</string>
		<string>cascade</string>
		<string>case</string>
		<string>check</string>
		<string>checkpoint</string>
		<string>close</string>
		<string>clustered</string>
		<string>coalesce</string>
		<string>collate</string>
		<string>column</string>
		<string>commit</string>
		<string>compute</string>
		<string>connect</string>
		<string>constraint</string>
		<string>contains</string>
		<string>containstable</string>
		<string>continue</string>
		<string>convert</string>
		<string>create</string>
		<string>cross</string>
		<string>current</string>
		<string>current_date</string>
		<string>current_time</string>
		<string>current_timestamp</string>
		<string>current_user</string>
		<string>cursor</string>
		<string>database</string>
		<string>dbcc</string>
		<string>deallocate</string>
		<string>declare</string>
		<string>default</string>
		<string>delete</string>
		<string>deny</string>
		<string>desc</string>
		<string>disk</string>
		<string>distinct</string>
		<string>distributed</string>
		<string>double</string>
		<string>drop</string>
		<string>dummy</string>
		<string>dump</string>
		<string>else</string>
		<string>end</string>
		<string>errlvl</string>
		<string>escape</string>
		<string>except</string>
		<string>exec</string>
		<string>execute</string>
		<string>exists</string>
		<string>exit</string>
		<string>fetch</string>
		<string>file</string>
		<string>fillfactor</string>
		<string>following</string>
		<string>for</string>
		<string>foreign</string>
		<string>freetext</string>
		<string>freetexttable</string>
		<string>from</string>
		<string>full</string>
		<string>function</string>
		<string>goto</string>
		<string>grant</string>
		<string>group</string>
		<string>having</string>
		<string>holdlock</string>
		<string>identity</string>
		<string>identitycol</string>
		<string>identity_insert</string>
		<string>if</string>
		<string>in</string>
		<string>index</string>
		<string>inner</string>
		<string>insert</string>
		<string>intersect</string>
		<string>into</string>
		<string>is</string>
		<string>join</string>
		<string>key</string>
		<string>kill</string>
		<string>left</string>
		<string>like</string>
		<string>lineno</string>
		<string>load</string>
		<string>match</string>
		<string>merge</string>
		<string>national</string>
		<string>nocheck</string>
		<string>nonclustered</string>
		<string>not</string>
		<string>null</string>
		<string>nullif</string>
		<string>of</string>
		<string>off</string>
		<string>offsets</string>
		<string>on</string>
		<string>open</string>
		<string>opendatasource</string>
		<string>openquery</string>
		<string>openrowset</string>
		<string>openxml</string>
		<string>option</string>
		<string>or</string>
		<string>order</string>
		<string>outer</string>
		<string>over</string>
		<string>percent</string>
		<string>plan</string>
		<string>preceding</string>
		<string>precision</string>
		<string>primary</string>
		<string>print</string>
		<string>proc</string>
		<string>procedure</string>
		<string>public</string>
		<string>raiserror</string>
		<string>read</string>
		<string>readtext</string>
		<string>reconfigure</string>
		<string>references</string>
		<string>replication</string>
		<string>restore</string>
		<string>restrict</string>
		<string>return</string>
		<string>revoke</string>
		<string>right</string>
		<string>rollback</string>
		<string>rowcount</string>
		<string>rowguidcol</string>
		<string>rows?</string>
		<string>rule</string>
		<string>save</string>
		<string>schema</string>
		<string>select</string>
		<string>session_user</string>
		<string>set</string>
		<string>setuser</string>
		<string>shutdown</string>
		<string>some</string>
		<string>statistics</string>
		<string>system_user</string>
		<string>table</string>
		<string>textsize</string>
		<string>then</string>
		<string>to</string>
		<string>top</string>
		<string>tran</string>
		<string>transaction</string>
		<string>trigger</string>
		<string>truncate</string>
		<string>tsequal</string>
		<string>unbounded</string>
		<string>union</string>
		<string>unique</string>
		<string>update</string>
		<string>updatetext</string>
		<string>use</string>
		<string>user</string>
		<string>using</string>
		<string>values</string>
		<string>varying</string>
		<string>view</string>
		<string>waitfor</string>
		<string>when</string>
		<string>where</string>
		<string>while</string>
		<string>with</string>
		<string>writetext</string>
	</array>
	<key>kotlin</key>
	<array>
		<string>package</string>
		<string>import</string>
		<string>typealias</string>
		<string>class</string>
		<string>interface</string>
		<string>constructor</string>
		<string>by</string>
		<string>where</string>
		<string>init</string>
		<string>companion</string>
		<string>object</string>
		<string>val</string>
		<string>var</string>
		<string>fun</string>
		<string>this</string>
		<string>dynamic</string>
		<string>if</string>
		<string>try</string>
		<string>catch</string>
		<string>finally</string>
		<string>do</string>
		<string>while</string>
		<string>true</string>
		<string>false</string>
		<string>in</string>
		<string>!in</string>
		<string>as</string>
		<string>!as</string>
		<string>is</string>
		<string>!is</string>
		<string>throw</string>
		<string>return</string>
		<string>continue</string>
		<string>break</string>
		<string>else</string>
		<string>abstract</string>
		<string>final</string>
		<string>enum</string>
		<string>open</string>
		<string>annatation</string>
		<string>sealed</string>
		<string>data</string>
		<string>override</string>
		<string>lateinit</string>
		<string>private</string>
		<string>protected</string>
		<string>public</string>
		<string>internal</string>
		<string>in</string>
		<string>out</string>
		<string>inline</string>
		<string>noinline</string>
		<string>crossinline</string>
		<string>vararg</string>
		<string>const</string>
		<string>suspend</string>
		<string>reified</string>
		<string>null</string>
	</array>
	<key>r</key>
	<array>
		<string>if</string>
		<string>else</string>
		<string>repeat</string>
		<string>while</string>
		<string>function</string>
		<string>for</string>
		<string>in</string>
		<string>next</string>
		<string>break</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>NULL</string>
		<string>Inf</string>
		<string>NaN</string>
		<string>NA</string>
		<string>NA_integer_</string>
		<string>NA_real_</string>
		<string>NA_complex_</string>
		<string>NA_character_</string>
	</array>
	<key>js</key>
	<array>
		<string>abstract</string>
		<string>arguments</string>
		<string>await</string>
		<string>boolean</string>
		<string>break</string>
		<string>byte</string>
		<string>case</string>
		<string>catch</string>
		<string>char</string>
		<string>class</string>
		<string>const</string>
		<string>continue</string>
		<string>debugger</string>
		<string>default</string>
		<string>delete</string>
		<string>do</string>
		<string>double</string>
		<string>else</string>
		<string>enum</string>
		<string>eval</string>
		<string>export</string>
		<string>extends</string>
		<string>false</string>
		<string>final</string>
		<string>finally</string>
		<string>float</string>
		<string>for</string>
		<string>function</string>
		<string>goto</string>
		<string>if</string>
		<string>implements</string>
		<string>import</string>
		<string>in</string>
		<string>instanceof</string>
		<string>int</string>
		<string>interface</string>
		<string>let</string>
		<string>long</string>
		<string>native</string>
		<string>new</string>
		<string>null</string>
		<string>package</string>
		<string>private</string>
		<string>protected</string>
		<string>public</string>
		<string>return</string>
		<string>short</string>
		<string>static</string>
		<string>super</string>
		<string>switch</string>
		<string>synchronized</string>
		<string>this</string>
		<string>throw</string>
		<string>throws</string>
		<string>transient</string>
		<string>true</string>
		<string>try</string>
		<string>typeof</string>
		<string>var</string>
		<string>void</string>
		<string>volatile</string>
		<string>while</string>
		<string>with</string>
		<string>yield</string>
	</array>
</dict>
</plist>
