:root {
    color-scheme: light dark;
    --textColor: #3c3c4399;
    --link-color: #56A4FF;
    --body-font-size: 14;
    --h1-font-size: 20;
    --h2-font-size: 17;
    --h3-font-size: 14;
    --blockquote-font-size: 14;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --textColor: #ebebf599;
        --link-color: #70B5FF;
    }
}

html {
    font-family: -apple-system, Arial, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 1.3em;
    -webkit-text-size-adjust: 100%;
}

body {
    font-size: var(--body-font-size);
    color: var(--textColor);
}

h1 {
    font-size: var(--h1-font-size);
    text-align: center;
    color: var(--textColor);
}

h2 {
    font-size: var(--h2-font-size);
    text-align: center;
    color: var(--textColor);
}

h3 {
    font-size: var(--h3-font-size);
    text-align: center;
    color: var(--textColor);
}

blockquote {
    font-style: italic;
    font-size: var(--blockquote-font-size);
    margin-left: 32px;
    border-left: 4px solid #ccc;
    padding-left: 8px;
    color: var(--textColor);
}

a {
    color: var(--link-color);
}

img {
    max-width: 100%;
}
