<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Stepik Develop</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Stepik</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.220-develop</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.stepic.mobile</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>stepic</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>vkAuth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vk5628680</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>FB</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb171127739724012</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.808829787351-n1br64c8fj99d1hjbjjcpkn9chfoplj4</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>441</string>
	<key>FacebookAppID</key>
	<string>171127739724012</string>
	<key>FacebookDisplayName</key>
	<string>Stepik.org</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>vkauthorize</string>
		<string>vk</string>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>key_live_ekt7qHLldFSKQyO2DT3NYellwFfko55Q</string>
		<key>test</key>
		<string>key_test_gjtWCOSjnAMKMtV9qJ4YyeelFzced092</string>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).ContinueLearning</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypePlay</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>shortcutTitleContinueLearning</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>version</key>
				<string>1</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).SearchCourses</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeSearch</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>shortcutTitleSearchCourses</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>version</key>
				<string>1</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).Profile</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeContact</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>shortcutTitleProfile</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>version</key>
				<string>1</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).Notifications</string>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>shortcut-item-notifications</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>shortcutTitleNotifications</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>version</key>
				<string>1</string>
			</dict>
		</dict>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).ContinueLearningUserActivity</string>
	</array>
</dict>
</plist>
