<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>textColorScript</key>
	<string>&lt;script type=&quot;text/javascript&quot;&gt;document.body.style.setProperty(&apos;--textColor&apos;, &apos;######&apos;)&lt;/script&gt;</string>
	<key>contentCSSWrapper</key>
	<string>&lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;stepikcontent.css&quot;&gt;</string>
	<key>wysiwygCSSWrapper</key>
	<string>&lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;wysiwyg.css&quot;&gt;</string>
	<key>KotlinRunnableSamples</key>
	<string>&lt;script src=&quot;https://unpkg.com/kotlin-playground@1&quot; data-selector=&quot;kotlin-runnable&quot;&gt;&lt;/script&gt;</string>
	<key>AudioTagWrapperInit</key>
	<string>&lt;script type=&quot;text/javascript&quot;&gt;plyr.setup({loadSprite: false})&lt;/script&gt;</string>
	<key>AudioTagWrapper</key>
	<string>&lt;link rel=&quot;stylesheet&quot; href=&quot;plyr.css&quot;&gt;&lt;script type=&quot;text/javascript&quot; src=&quot;plyr.js&quot;&gt;&lt;/script&gt;</string>
	<key>localJQueryScript</key>
	<string>&lt;script type=&quot;text/javascript&quot; src=&quot;jquery-3.2.1.min.js&quot;&gt;&lt;/script&gt;</string>
	<key>ClickableImages</key>
	<string>&lt;script type=&quot;text/javascript&quot;&gt;
$(document).ready(function() {
    $(&quot;img&quot;).each(function() {
        var $this = $(this);
        var src = &quot;openimg://&quot; + $this.attr(&apos;src&apos;);
        $this.addClass(&apos;image&apos;);
        var a = $(&apos;&lt;a/&gt;&apos;).attr(&apos;href&apos;, src);
        $this.wrap(a);
    });
});
&lt;/script&gt;</string>
	<key>MetaViewport</key>
	<string>&lt;meta name=&quot;viewport&quot; content=&quot;initial-scale=1.0&quot; /&gt;</string>
	<key>MathJaxFinishScript</key>
	<string>&lt;script type=&quot;text/javascript&quot;&gt;
MathJax.Hub.Queue(function () {
window.location= &quot;mathjaxfinish://finished&quot;;
});
&lt;/script&gt;</string>
	<key>LocalTexScript</key>
	<string>&lt;script type=&quot;text/x-mathjax-config&quot;&gt;
  MathJax.Hub.Config({messageStyle: &quot;none&quot;, tex2jax: {preview: &quot;none&quot;, inlineMath: [[&apos;$&apos;,&apos;$&apos;], [&apos;\\(&apos;,&apos;\\)&apos;]], displayMath: [[&apos;$$&apos;,&apos;$$&apos;], [&apos;\\[&apos;,&apos;\\]&apos;]]}});
&lt;/script&gt;</string>
	<key>SizeReportScript</key>
	<string>&lt;script type=&quot;text/javascript&quot;&gt;
   window.onload = function() { 
      window.location.href = &quot;ready://&quot; + document.body.scrollHeight;
   }
&lt;/script&gt;</string>
	<key>TexScript</key>
	<string>&lt;script type=&quot;text/x-mathjax-config&quot;&gt;
  MathJax.Hub.Config({messageStyle: &quot;none&quot;, tex2jax: {preview: &quot;none&quot;, inlineMath: [[&apos;$&apos;,&apos;$&apos;], [&apos;\\(&apos;,&apos;\\)&apos;]], displayMath: [[&apos;$$&apos;,&apos;$$&apos;], [&apos;\\[&apos;,&apos;\\]&apos;]]}});
&lt;/script&gt;</string>
</dict>
</plist>
