<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>абрикосовая</string>
    <string>абсолютная</string>
    <string>абстрактная</string>
    <string>авангардная</string>
    <string>академическая</string>
    <string>активная</string>
    <string>альпийская</string>
    <string>астральная</string>
    <string>базисная</string>
    <string>бархатная</string>
    <string>бельгийская</string>
    <string>бермудская</string>
    <string>благодушная</string>
    <string>благополучная</string>
    <string>быстрая</string>
    <string>вдумчивая</string>
    <string>вероятная</string>
    <string>весёлая</string>
    <string>весенняя</string>
    <string>волевая</string>
    <string>воспитанная</string>
    <string>галактическая</string>
    <string>гордая</string>
    <string>грамотная</string>
    <string>деловой</string>
    <string>деятельная</string>
    <string>драгоценная</string>
    <string>елисейская</string>
    <string>жёлтая</string>
    <string>жемчужная</string>
    <string>загорелая</string>
    <string>замечательная</string>
    <string>затейливая</string>
    <string>зоркая</string>
    <string>избранная</string>
    <string>изящная</string>
    <string>изысканная</string>
    <string>квантовая</string>
    <string>классная</string>
    <string>крадущаяся</string>
    <string>малахитовая</string>
    <string>милая</string>
    <string>могучая</string>
    <string>ядерная</string>
</array>
</plist>
