<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<dict>
		<key>mainDark</key>
		<integer>24987</integer>
		<key>mainText</key>
		<integer>0</integer>
	</dict>
	<key>url</key>
	<dict>
		<key>appId</key>
		<string>1274226231</string>
		<key>scheme</key>
		<string>adaptive3067</string>
		<key>api</key>
		<string>https://stepik.org/api</string>
		<key>oauth</key>
		<string>https://stepik.org/oauth2</string>
		<key>stepik</key>
		<string>https://stepik.org</string>
		<key>version</key>
		<string>https://stepik.org/media/attachments/lesson/26869/version.json</string>
	</dict>
	<key>cookie</key>
	<dict>
		<key>prefix</key>
		<string></string>
	</dict>
	<key>feature</key>
	<dict>
		<key>courseUnenrollment</key>
		<true/>
		<key>inAppUpdates</key>
		<false/>
		<key>streaks</key>
		<false/>
		<key>notifications</key>
		<false/>
	</dict>
	<key>adaptive</key>
	<dict>
		<key>ratingURL</key>
		<string>http://52.174.33.220</string>
		<key>mainColor</key>
		<integer>24987</integer>
		<key>isAdaptive</key>
		<true/>
		<key>courseId</key>
		<integer>3067</integer>
	</dict>
	<key>rateApp</key>
	<dict>
		<key>submissionsThreshold</key>
		<integer>13</integer>
		<key>appStoreLink</key>
		<string>itms-apps://itunes.apple.com/WebObjects/MZStore.woa/wa/viewContentsUserReviews?id=1274226231&amp;onlyLatestVersion=true&amp;pageNumber=0&amp;sortOrdering=1&amp;type=Purple+Software&amp;action=write-review</string>
	</dict>
	<key>socialProviders</key>
	<dict>
		<key>vk</key>
		<string>6157813</string>
		<key>facebook</key>
		<string>171127739724012</string>
	</dict>
</dict>
</plist>
