<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>password</key>
	<dict>
		<key>id</key>
		<string>m3uu1NAGnAGFDHRf4S2Wvg1megAjuqwBsX0OUDru</string>
		<key>secret</key>
		<string>dmoHUWbm2KpKVqxojiDOYofZxulNp00ZjXOSq4VxxGMKXwaZdQCxAdFQg4fjoJPzKY3gRTELDwjYJCNd5x4wn2FDYx7lPhWzgyCQWGoMGTywPSk4RchzDAfzf5GMHKCL</string>
		<key>redirect_uri</key>
		<string>stepic://stepic.org/password</string>
	</dict>
</dict>
</plist>
