<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Adaptive 1838.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>SberbankUniversity.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>Stepic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>StepicTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>StickerPackExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>iMessageApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>085D5CD81D007F2100092060</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>086538341EB02715003A8415</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08D120731C937B2200A54ABC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08DE94101B8C58AC00D278AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86EF29331E83CEA900F8D214</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F9C71161E076AE000EC8DA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
