<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Adaptive 1838 Screenshots.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Adaptive 1838.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Adaptive 1838.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Adaptive 1906 Screenshots.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Adaptive 1906.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Adaptive 1906.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Adaptive 3067 Screenshots.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Adaptive 3067.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Adaptive 3067.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Adaptive 3124 Screenshots.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Adaptive 3124.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Adaptive 3124.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Adaptive 3149 Screenshots.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Adaptive 3149.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Adaptive 3149.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Adaptive 3150 Screenshots.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Adaptive 3150.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>Adaptive 3150.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SberbankUniversity.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>Stepic.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>StepicTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>StepicWatch Extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>StepicWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>StepikTV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>93</integer>
		</dict>
		<key>StickerPackExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>iMessageApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>085D5CD81D007F2100092060</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>086538341EB02715003A8415</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08D120731C937B2200A54ABC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08DE94101B8C58AC00D278AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C1B60BD1F4C4AEF00236804</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C1B62CE1F4C590700236804</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C86526B1F4B33DE00D51654</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C89A9511F4C289900227C3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C9731051F4C38F600AC9301</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CD12B841F4ED1F4001D3C82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CD12B991F4F348C001D3C82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CD12BA81F4F34A2001D3C82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CD12BB71F4F34AE001D3C82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CD12BC61F4F34BD001D3C82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CD12BD51F4F34CC001D3C82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86EF29331E83CEA900F8D214</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F9C71161E076AE000EC8DA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
