<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>абрикосовый</string>
    <string>абсолютный</string>
    <string>абстрактный</string>
    <string>авангардный</string>
    <string>академический</string>
    <string>активный</string>
    <string>альпийский</string>
    <string>астральный</string>
    <string>базисный</string>
    <string>бархатный</string>
    <string>бельгийский</string>
    <string>бермудский</string>
    <string>благодушный</string>
    <string>благополучный</string>
    <string>быстрый</string>
    <string>вдумчивый</string>
    <string>вероятный</string>
    <string>веселый</string>
    <string>весенний</string>
    <string>волевой</string>
    <string>воспитанный</string>
    <string>галактический</string>
    <string>гордый</string>
    <string>грамотный</string>
    <string>деловой</string>
    <string>деятельный</string>
    <string>драгоценный</string>
    <string>елисейский</string>
    <string>жёлтый</string>
    <string>жемчужный</string>
    <string>загорелый</string>
    <string>замечательный</string>
    <string>затейливый</string>
    <string>зоркий</string>
    <string>избранный</string>
    <string>изящный</string>
    <string>изысканный</string>
    <string>квантовый</string>
    <string>классный</string>
    <string>крадущийся</string>
    <string>малахитовый</string>
    <string>милый</string>
    <string>могучий</string>
    <string>ядерный</string>
</array>
</plist>
