<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WebkitTouchCalloutDisable</key>
	<string>&lt;script type=&quot;text/javascript&quot;&gt;document.documentElement.style.webkitTouchCallout=&apos;none&apos;;&lt;/script&gt;</string>
	<key>highlightJS</key>
	<string>&lt;script type=&quot;text/javascript&quot; src=&quot;highlight.js&quot;&gt;&lt;/script&gt;&lt;script&gt;hljs.initHighlightingOnLoad();&lt;/script&gt;</string>
	<key>contentCSSWrapper</key>
	<string>&lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;stepikcontent.css&quot;&gt;</string>
	<key>wysiwygCSSWrapper</key>
	<string>&lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;wysiwyg.css&quot;&gt;</string>
	<key>AudioTagWrapperInit</key>
	<string>&lt;script type=&quot;text/javascript&quot;&gt;plyr.setup({loadSprite: false})&lt;/script&gt;</string>
	<key>AudioTagWrapper</key>
	<string>&lt;link rel=&quot;stylesheet&quot; href=&quot;plyr.css&quot;&gt;&lt;script type=&quot;text/javascript&quot; src=&quot;plyr.js&quot;&gt;&lt;/script&gt;</string>
	<key>localJQueryScript</key>
	<string>&lt;script type=&quot;text/javascript&quot; src=&quot;jquery-3.4.1.min.js&quot;&gt;&lt;/script&gt;</string>
	<key>localKotlinPlaygroundScript</key>
	<string>&lt;script type=&quot;text/javascript&quot; src=&quot;kotlin-playground-1.21.1.min.js&quot; data-selector=&quot;kotlin-runnable&quot;&gt;&lt;/script&gt;</string>
	<key>ClickableImages</key>
	<string>&lt;script type=&quot;text/javascript&quot;&gt;
$(document).ready(function() {
    $(&quot;img&quot;).each(function() {
        var $this = $(this);
        var src = &quot;openimg://&quot; + $this.attr(&apos;src&apos;);
        $this.addClass(&apos;image&apos;);
        var a = $(&apos;&lt;a/&gt;&apos;).attr(&apos;href&apos;, src);
        if ($this.attr(&apos;ar-thumbnail&apos;) != &quot;&quot;) {
        	$this.wrap(a);
        }
    });
});
&lt;/script&gt;</string>
	<key>MetaViewport</key>
	<string>&lt;meta name=&quot;viewport&quot; content=&quot;initial-scale=1&quot; /&gt;</string>
	<key>MathJaxFinishScript</key>
	<string>&lt;script type=&quot;text/javascript&quot;&gt;
MathJax.Hub.Queue(function () {
window.location= &quot;mathjaxfinish://finished&quot;;
});
&lt;/script&gt;</string>
	<key>LocalTexScript</key>
	<string>&lt;script type=&quot;text/x-mathjax-config&quot;&gt;
  MathJax.Hub.Config({messageStyle: &quot;none&quot;, tex2jax: {preview: &quot;none&quot;, inlineMath: [[&apos;$&apos;,&apos;$&apos;], [&apos;\\(&apos;,&apos;\\)&apos;]], displayMath: [[&apos;$$&apos;,&apos;$$&apos;], [&apos;\\[&apos;,&apos;\\]&apos;]]}});
&lt;/script&gt;</string>
	<key>LocalKaTeXScript</key>
	<string>&lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;katex/katex.min.css&quot;&gt;
&lt;script type=&quot;text/javascript&quot; src=&quot;katex/katex.min.js&quot;&gt;&lt;/script&gt;
&lt;script type=&quot;text/javascript&quot; src=&quot;katex/auto-render.min.js&quot;&gt;&lt;/script&gt;
&lt;script&gt;
document.addEventListener(&quot;DOMContentLoaded&quot;, function() {
    renderMathInElement(document.body, {
        delimiters: [
            { left: &quot;$$&quot;, right: &quot;$$&quot;, display: true },
            { left: &quot;\\[&quot;, right: &quot;\\]&quot;, display: true },
            { left: &quot;$&quot;, right: &quot;$&quot;, display: false },
            { left: &quot;\\(&quot;, right: &quot;\\)&quot;, display: false }
        ]
    });
});
&lt;/script&gt;</string>
	<key>TexScript</key>
	<string>&lt;script type=&quot;text/x-mathjax-config&quot;&gt;
  MathJax.Hub.Config({messageStyle: &quot;none&quot;, tex2jax: {preview: &quot;none&quot;, inlineMath: [[&apos;$&apos;,&apos;$&apos;], [&apos;\\(&apos;,&apos;\\)&apos;]], displayMath: [[&apos;$$&apos;,&apos;$$&apos;], [&apos;\\[&apos;,&apos;\\]&apos;]]}});
&lt;/script&gt;</string>
	<key>FontSizeScript</key>
	<string>&lt;script type=&quot;text/javascript&quot;&gt;
	document.documentElement.style.setProperty(&apos;--body-font-size&apos;, &apos;##--body-font-size##&apos;);
	document.documentElement.style.setProperty(&apos;--h1-font-size&apos;, &apos;##--h1-font-size##&apos;);
	document.documentElement.style.setProperty(&apos;--h2-font-size&apos;, &apos;##--h2-font-size##&apos;);
	document.documentElement.style.setProperty(&apos;--h3-font-size&apos;, &apos;##--h3-font-size##&apos;);
	document.documentElement.style.setProperty(&apos;--blockquote-font-size&apos;, &apos;##--blockquote-font-size##&apos;);
&lt;/script&gt;</string>
</dict>
</plist>
